<div class="container-fluid" id="songcontainer">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-5" id="songform">
<h1 class="display-1">New Song</h1>

<%= render 'form', song: @song %>

<%= link_to 'Back', songs_path, class:"link-secondary" %>
</div>
</div>
</div>
