
 @import 'colors';

 body{
    background-color: rgb(18, 18, 18) !important;
    margin-bottom:5rem !important;
 }

 @media only screen and (max-width: 990px) {
    #photow{
     display: none;
   }
   #postcard{
     width: 90% !important;
   }
   #usercard{
     width: 90% !important;
   }
   #logincontainer{
     height: 100vh;
    background-image: image-url('photo_guitar.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   }
   #new_user{
     padding-top: 10rem;
     margin: auto;
   }
   .link-secondary{
     color: whitesmoke !important;
   }
   #regform{
     padding-top: 0 !important;
   }
   .avatar{
     width: 1em;
     height: 1em;
   }
   #userimg{
    width: 10em !important;
    height: 10em !important;
  }
}
#follow{
    position: relative;
    font-size: 1.5em;
}
#usercov{
  height: auto !important;
  max-height: 20rem;
  overflow: hidden;
}
.card-text{
  color: whitesmoke !important;
}
i{
  vertical-align: top;
}
.btn-light{
  color: white !important;
  background-color: $pink !important;
  border-color: $pink1 !important;
}
.btn-light:hover, .btn-light:focus, .btn-light:active, .btn-light.active, .open>.dropdown-toggle.btn-light {
  color: black !important;
  box-shadow: 0px 1px 1px $pink1 inset, 0px 0px 5px $pink1 !important;
}
audio {
  width: 100% !important;
}
.avatar {
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.small{
  vertical-align: middle;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
}
#postcard {
  width: 60%; 
  margin:auto; 
  background-color: rgb(64, 64, 64);
  margin-top: 2rem;
}
#showcard{
  width: 90%; 
  margin:auto; 
  background-color: rgb(64, 64, 64);
  margin-top: 2rem;
}
#usercard{
  background-color: rgb(64, 64, 64);
  width: 90%;
  margin: auto;
}
#userimg{
  width: 15em;
  height: 15em;
  border-radius: 50%;
}
.headertext{
  padding-left: 1em;
}

#regcontainer{
  height: 100vh;
  background-image: image-url('singer.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#songcontainer{
  height: 100vh;
}

.display-1{
  color: white !important;
}

#regform{
  padding-top: 2rem;
  padding-bottom: 10rem;
}

 .logo{
   height: 4rem;
 }
 .footer{
    background-color:rgb(24,24,24) !important;
 }

 #flash {
   display: block;
  }

  #loginform{
    padding-top: 2rem;
    margin:auto;
  }
  .picg{
    height: 100vh;
  }

  .link-danger{
    color: $pink !important;
  }

  .link-warning{
    color: $yellow !important;
  }

  .link-primary{
    color: $blue !important;
  }

  .link-secondary{
    color: whitesmoke !important;
  }

  .form-label{
    color: white;
    font-size: 1.3em;
  }

  .form-check-label{
    color: white;
  }

  .form-control:focus, .form-select:focus {
    border-color: $pink !important;
    box-shadow: 0px 1px 1px $pink1 inset, 0px 0px 5px $pink1 !important;
  }

  .form-check-input:checked {
    border-color: $pink !important;
    background-color: $pink !important;
  }

  #login{
    background-color: $blue;
    border: none;
    padding: 0.5em;
  }
